.sidebar-menu {
    height: 100%;
    width: 17rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #121927;
    overflow-x: hidden;
    padding-top: 16px;
}
img.sidebar-img {
    width: 100%;
}
.sidebar {
    margin-top: 2rem;
}
.sidebar li {
    position: relative;
    border-top: 2px solid rgba(255,255,255,0.05);
}
.sidebar a{
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}
ul.menu-bar {
    padding: 0;
}
.sidebar li:first-child {
    border: none;
}
.sidebar li:hover {
    color: #fff;
    background: #3C414D;
    list-style: none;
    cursor: pointer;
}
.sidebar li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    transition: all 300ms linear;
    height: 100%;
    background: rgba(255, 255, 255, 0.071);
}
.sidebar li:hover:after {
    width: 100%;
}
.sidebar i {
    padding: .5rem;
    font-size: 15px;
    color: #F89020;
}
.main {
    margin-left: 16rem; /* Same as the width of the sidenav */
    padding: 0px 10px;
}
.f-group label {
    display: block;
    margin: 10px 0;
    font-size: 2rem;
}
select {
    border: 2px solid #555;
    height: 50px;
    width: 26rem;
    padding: 0 15px;
    margin-right: 20px;
    border-radius: 16px;
}
.des-img {
    float: left; 
}
.des-img img {
    width: 25rem;
    padding-top: 2rem;
    padding-left: 6rem;
}
.link i.fas.fa-star {
    font-size: 10px;
    color: red;
    padding-left: 5px;
}
.description{
    padding-bottom: 2rem;
}
.des-del {
    display: inline-block;
}
.des-del p i {
    font-size: 18px;
    padding-right: 16px;
}
input[type="text"] {
    border: 2px solid #555;
    height: 40px;
    width: 25rem;
    padding: 0 15px;
    margin-right: 20px;
    border-radius: 16px;
}
.f-group,.link,.description h2 ,.quantity{
    padding-left: 14rem;
}
.quantity {
    margin: 0 4px 0 0;
}
.quantity .quantity-minus {
    display: block;
    float: left;
    padding: 0 20px;
    background-color: #f1f3f3;
    border-radius: 50px 0 0 50px;
    font-size: 40px;
    border-right: 1px solid #e3e9e9;
    color: #cfcfcf;
    transition: all .3s ease;
    height: 55px;
}
.quantity .quantity-plus {
    padding: 0 13px;
    background-color: #f1f3f3;
    border-radius: 0 50px 50px 0;
    font-size: 40px;
    border-left: 0px solid #e3e9e9;
    color: #cfcfcf;
    transition: all .3s ease;
    height: 55px;
}
.quantity input {
    max-width: 50px;
    float: left;
    background-color: #f7f9f9;
    font-size: 16px;
    text-align: center;
    border-radius: 0;
    height: 51px;
    margin: 0;
}
.quantity .quantity-plus:hover {
    color: #fff;
    background-color: #2f2c2c;
    border-right-color: #2f2c2c;
}
.quantity .quantity-minus:hover {
    color: #fff;
    background-color: #2f2c2c;
    border-right-color: #2f2c2c;
}
.quantity span {
    display: block;
    padding: 9px 0;
    font-size: 32px;
    float: left;
}
.charge {
    float: left;
    margin-left: 65px;
}
.charge h2 {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 3px;
    border-radius: 20px;
}
.btn {
    text-align: center;
    margin-top: 20px;
}
.btn button {
    padding: 15px 30px;
    border: 1px solid black;
    font-size: 20px;
}
.btn button:hover {
    color: #fff;
    background-color: #2f2c2c;
}